@font-face {
    font-family: Roboto;
    src: url(sansation_light.woff);
}
*{
    font-family: Montserrat, sans-serif;
}

body{
    margin: 0;
    padding:0;
    overflow: hidden;
    background-color: #1099bb;
}
#overlay{
    position:fixed;
    width:100%;
    height: 100%;
    z-index: 10;

    display:flex;
    align-items: center;
    justify-content: center;
}

.menuDiv{
    width: 600px;
    height: 600px;
    background-color: #afafafb0;
    border-radius: 10px;
    border: 5px #e7e7e7b0 solid;
}

._adDiv{
    background-color:white !important;
    width:600px !important;
    height:300px !important;
    display: block !important;
}

.inputDiv{
    width:600px;
    height:300px;
    display:flex;
    align-items:center;
    justify-content: center;
    flex-direction: column;
}

#name-input{
    width:200px;
    font-size: 20px;
    text-align: center;
    outline: none;
    border: 5px rgb(199, 206, 248) solid;
    border-radius: 15px;
    margin:20px;
    padding: 10px 15px;
}
#nameButton{
    width:200px;
    font-size: 20px;

    outline: none;
    border: 5px rgb(199, 206, 248) solid;
    border-radius: 15px;
    background-color: rgb(157, 164, 207);
    margin:20px;
    padding: 10px 15px;
}
#nameButton:hover{
    background-color: rgb(76, 87, 146);
    border-color: rgb(105, 117, 184);
    cursor: pointer;
}
#nameButton:active{
    background-color: rgb(127, 136, 192);
    border-color: rgb(150, 158, 214);
}




/* Mouse Option */
.mouseOptionDiv{
    position: fixed;
    right: 0px;
    top: 0px;

    display:flex;
    align-items: center;
    justify-content: center;

    padding: 10px 15px;
    background-color:rgb(150, 158, 214);
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    border: 3px solid rgb(199, 206, 248);
    border-right:none;
}
.mouseOptionSpan{
    margin-right: 15px;
    font-size: 20px;
    font-weight: bold;
}

/* Sliders */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}
  
.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}
  
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(200, 202, 213);
    -webkit-transition: .4s;
    transition: .4s;

    border-radius: 34px;
}
  
.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;

    border-radius: 50%;
}
  
input:checked + .slider {
    background-color: rgb(20, 41, 57);
}
  
input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}
