<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="smasherml, smasherio, brutalio, black hole, io, game, games, web game, html5, fun, flash">
    <meta name="description" content="Smasher.ml is a CRAZY online game, where you can slice enemies in half by your weapon. When you play this game your eyes will pop off your head. Your head will pop off your neck. Sliding around with a car that looks like a square fish lookin' like thing. Most Epic Top-Down 2D Video Game In History of .io Games."/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="icon" type="image/png" href="favicon.png" />

    <!--
        <script data-ad-client="ca-pub-6045457836000406" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script> 
    -->
    {% block head %} {% endblock %}
</head>
<body>
    {% block body %} {% endblock %}
</body>
</html>
