{% extends 'base.html' %}

{% block head %}
<title>Glide</title>
{% endblock %}

{% block body %}
<div id='overlay'>
    <img class="imgLogo" src="{{ url_for('static', filename='images/gui/smasherml.png') }}"/>
    <div class='menuDiv'>
        <div class='inputDiv'>
            <input id='name-input' name="savenick" type='username' maxlength="10" placeholder="Smasher.ml">
            <input id='nameButton' value='Start' type='button'>
        </div>
        <div class='_adDiv'>
            <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
            <!-- Smasherml under login -->
            <ins class="adsbygoogle"
                style="display:inline-block;width:300px;height:250px"
                data-ad-client="ca-pub-6045457836000406"
                data-ad-slot="5033376896"></ins>
            <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
        </div>
    </div>
    <div class='mouseOptionDiv'>
        <span class='mouseOptionSpan'>Mouse Controls</span>
        <label class="switch">
            <input id="mouseCheckbox" type="checkbox" name="mousecontrols">
            <span class="slider round"></span>
        </label>
    </div>
</div>


<!--JQuery-->
<script type="text/javascript" src="{{ url_for('static', filename='js/libraries/jquery.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/libraries/socket.io.js') }}"></script><!-- isnt labeled'.min' even tho it is, cause sourcemap problem-->
<script type="text/javascript" src="{{ url_for('static', filename='js/libraries/pixi.js') }}"></script>
<!-- revisit .... <script type="text/javascript" src="{{ url_for('static', filename='js/libraries/pixi-sound.js') }}"></script> -->
<script type="text/javascript" src="{{ url_for('static', filename='js/libraries/howler.min.js') }}"></script>

<script type="text/javascript" src="{{ url_for('static', filename='js/script.js') }}"></script>
{% endblock %}