{% extends 'base.html' %}

{% block head %}
<title>Glide</title>
{% endblock %}

{% block body %}
<div id='overlay'>
    <div class='inputDiv'>
        <input id='name-input' name="savenick" type='username' maxlength="10">
        <input id='nameButton' value='Start' type='button'>
    </div>

    <div class='mouseOptionDiv'>
        <span class='mouseOptionSpan'>Mouse Controls</span>
        <label class="switch">
            <input id="mouseCheckbox" type="checkbox" name="mousecontrols" checked>
            <span class="slider round"></span>
        </label>
    </div>
</div>


<!--JQuery-->
<script type="text/javascript" src="{{ url_for('static', filename='js/libraries/jquery.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/libraries/socket.io.js') }}"></script><!-- isnt labeled'.min' even tho it is, cause sourcemap problem-->
<script type="text/javascript" src="{{ url_for('static', filename='js/libraries/pixi.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/libraries/pixi-sound.js') }}"></script>

<script type="text/javascript" src="{{ url_for('static', filename='js/script.js') }}"></script>
{% endblock %}